<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>shelf</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome</h1>
    <h3>Please login below:</h3>
    <form id = "loginForm" onsubmit="return onSubmit();">
      <input type = "text" id = "userName"/>
      <input type="text" id="password" />
      <input type="submit" id="submit" />
    </form>
    <script src = "../static/index.js"></script>
  </body>
</html>
